@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Crimson Text", serif;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}

i {
  margin: 3px;
}
a {
  text-decoration: none;
  color: #212212;
  font-weight: bold;
  transition: 0.3s ease;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 15px 8px;
}

.logo {
  height: 50px;
  margin: 15px 30px;
}

section {
  padding: 40px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section#about {
  background-color: #92a5ff;
  position: relative;
  border-top: 5px solid #ffde59;
}
section#about::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 70%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffde59;
}
.about {
  width: 300px;
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
}
.info {
  max-width: 300px;
  margin: 30px;
  font-size: 1.1rem;
}
.socials {
  width: 100%;
  background-color: #92a5ff;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}
.socials i {
  /* margin: 10px; */
  cursor: pointer;
  color: #fff;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.hero-info {
  margin: 30px;
  max-width: 300px;
}
.hero-info p {
  font-size: 1.1rem;
}

.hero-img {
  width: 300px;
  height: 300px;
  margin: 30px;
}
@media only screen and (max-width: 720px) {
  .hero-info {
    max-width: 700px;
  }
  .hero-img {
    visibility: hidden;
    height: 0px;
  }
}

.break {
  width: 30px;
  height: 5px;
  background-color: #ff9595;
  border-radius: 3px;
  margin: 30px 0px;
}
.avatar {
  max-width: 180px;
  border-radius: 50%;
}
#name {
  color: #2b2b2b;
  font-size: 3.2rem;
}

.teste {
  width: 30px;
  height: 30px;
  background-color: brown;
  margin: 5px;
}

.button {
  background-color: #ffde59;
  width: 120px;
  cursor: pointer;
  border: 0;
  border-radius: 0px 50px 50px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s all;
}
.button:hover {
  background-color: #ff9595;
}
.button:active {
  background-color: #ff9595;
}
form {
  margin-bottom: 40px;
}
.input-section {
  margin: 20px 0;
  display: flex;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.navbar li a:hover {
  color: #92a5ff;
}
.navbar li a:active {
  color: #ffde59;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1rem;
}
.navbar li {
  margin: 0;
  padding: 10px;
  background-color: transparent;
}
.navbar li:hover {
  /* border-radius: 104px 0px 88px 103px; */
  /* background-color: #92A5FF; */
}

section.projects {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.wrp-projects {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  grid-template-columns: repeat(8, 300px);
  grid-gap: 20px;
  /* align-items: stretch; */

  pointer-events: none;
	
  position: absolute;
  top: 4%;
  left: 0;
}

.project-item {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  text-align: center;
  overflow: hidden;
}

.project-item img {
  width: 100%;
}
.project-item img:hover{background-color: #ff9595;}

.project-info {
  margin-top: 10px;
  width: 100%;
	pointer-events: all;
}
/* .project-info h3{
	margin-top: 10px;
} */
.project-info .btn-proj {
  cursor: pointer;
  background: #92a5ff;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.wrp-contato {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

footer {
  background-color: #ffde59;
  padding: 40px;
  position: relative;
  border-top: #92a5ff 5px solid;
}

footer::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 20%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #92a5ff;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li a {
  margin: 10px;
  font-size: 1.1rem;
}
